<a href="https://colab.research.google.com/github/GauravChhabra91/Portfolio-MachineLearning-/blob/master/1_1_PysparkCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Important/Tutorial Links

In [1]:
print("Important links")
print("""
https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/
https://stackoverflow.com/questions/55240940/error-while-installing-spark-on-google-colab
""")

Important links

https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/
https://stackoverflow.com/questions/55240940/error-while-installing-spark-on-google-colab

In [2]:
print("Setting Up Spark Context")
print('''
https://colab.research.google.com/github/amdhacks/spark-in-google-collab/blob/master/Transformations_and_Actions_in_spark.ipynb#scrollTo=0xooHWiBT0Fr
https://medium.com/ai-for-real/spark-with-google-colab-fd6881e6acd3
https://www.google.com/search?q=sc.parallelize+in+google+colab&rlz=1C1RLNS_enIN950IN950&oq=sc.parallelize+in+goo&aqs=chrome.2.69i57j33i10i160l4.8073j0j7&sourceid=chrome&ie=UTF-8
''')

Setting Up Spark Context

https://colab.research.google.com/github/amdhacks/spark-in-google-collab/blob/master/Transformations_and_Actions_in_spark.ipynb#scrollTo=0xooHWiBT0Fr
https://medium.com/ai-for-real/spark-with-google-colab-fd6881e6acd3
https://www.google.com/search?q=sc.parallelize+in+google+colab&rlz=1C1RLNS_enIN950IN950&oq=sc.parallelize+in+goo&aqs=chrome.2.69i57j33i10i160l4.8073j0j7&sourceid=chrome&ie=UTF-8

## Setting Up Pyspark in Google Colabe

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Pre-requisite for Spark is installing Java. We need to have Java installed before setting-up Spark in colab.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Downloading The Hadoop
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

In [5]:
# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

In [6]:
# install findspark using pip
!pip install -q findspark

In [7]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 35.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=270535e007811b06d6719248b92aef96ee65a3f882ac66712aaaf4bac97924b5
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [8]:
import findspark
findspark.init()

In [9]:
findspark.find()

'/content/spark-3.0.0-bin-hadoop3.2'

## Creating Pyspark Session

In [10]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local[*]")\
        .appName("MyAppGoogleColab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [11]:
#Creating spark context-Its like connecting to spark cluster
import pyspark
from pyspark import SparkConf 
from pyspark.context import SparkContext 

sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

In [12]:
spark

In [13]:
sc

# Spark RDD

## Creating RDD

In [14]:
data = [1, 2, 3, 4, 5]
rdd = sc.parallelize(data)
rdd.collect()

[1, 2, 3, 4, 5]

In [15]:
rdd = sc.textFile("/content/drive/MyDrive/Learning/Analytics Notes/L - PySpark/PyspakDataFolderDoNotDelete/textfile.txt")
rdd.take(4)

['Return all the elements of the dataset as an array at the driver program. This is usually useful after a filter or other operation that returns a sufficiently small subset of the data.',
 'Aggregate the elements of the dataset using a function func (which takes two arguments and returns one).',
 'The function should be commutative and associative so that it can be computed correctly in parallel.',
 'Another flatmap example.So it creates output like map function but it flattens the output in a list']

## Functions

### Transformations & Actions

In [16]:
#Another flatmap example.So it creates output like map function but it flattens the output in a list
sc.parallelize([3,4,5]).flatMap(lambda x: [x, x*x]).collect()

[3, 9, 4, 16, 5, 25]

In [17]:
#flatmap function. Takes input as key value pair and creates one flattended list of output results
sc.parallelize([3,4,5]).flatMap(lambda x: range(1,x)).collect()

[1, 2, 1, 2, 3, 1, 2, 3, 4]

In [18]:
#map function
sc.parallelize([3,4,5]).map(lambda x: range(1,x)).collect()

[range(1, 3), range(1, 4), range(1, 5)]

In [19]:
def func(lines):
  lines = lines.lower()
  lines = lines.split()
  return lines

In [20]:
# Map Function
rdd1 = rdd.map(func)
rdd1.take(1)

[['return',
  'all',
  'the',
  'elements',
  'of',
  'the',
  'dataset',
  'as',
  'an',
  'array',
  'at',
  'the',
  'driver',
  'program.',
  'this',
  'is',
  'usually',
  'useful',
  'after',
  'a',
  'filter',
  'or',
  'other',
  'operation',
  'that',
  'returns',
  'a',
  'sufficiently',
  'small',
  'subset',
  'of',
  'the',
  'data.']]

In [21]:
# Flat Function
rdd2 = rdd.flatMap(func)
rdd2.take(5)

['return', 'all', 'the', 'elements', 'of']

In [22]:
# Removing stop words from the data - With Lambda Function
stopwords = ['all', 'of', 'the', 'as', 'an', 'at']
rdd3 = rdd2.filter(lambda x: x not in stopwords)
rdd3.take(5)

['return', 'elements', 'dataset', 'array', 'driver']

In [23]:
# Removing stop words from the data - With List Comprehensions
rdd4 = sc.parallelize([k for k in rdd2.collect() if k not in stopwords])
rdd4.take(5)

['return', 'elements', 'dataset', 'array', 'driver']

In [24]:
# Group By
rdd4 = rdd3.groupBy(lambda x: x)
rdd4.take(3)

[('array', <pyspark.resultiterable.ResultIterable at 0x7fa56b732d10>),
 ('driver', <pyspark.resultiterable.ResultIterable at 0x7fa56b732990>),
 ('this', <pyspark.resultiterable.ResultIterable at 0x7fa56b732ad0>)]

In [25]:
# Reduce Function
num_rdd = sc.parallelize(range(1,100))
num_rdd.reduce(lambda x, y : x + y)

4950

# Spark Dataframe

## Reading Data

In [26]:
file_path = "/content/sample_data/california_housing_train.csv"

df = (spark.read
      .format('csv')
      .options(header='true')
      .options(inferSchema='true')
      .load(file_path)
      )

In [27]:
df.show(2)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 2 rows

## Details About Data

In [50]:
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [54]:
df.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [55]:
len(df.columns)

9

In [29]:
df.count()

17000

In [30]:
df.describe().show()

+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|  count|              17000|             17000|             17000|            17000|            17000|             17000|            17000|             17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827| 28.58935294117647|2643.664411764706|539.4108235294118|1429.5739411764705|501.2219411764706| 3.883578100000021|207300.91235294117|
| stddev| 2.0051664084260357|2.1373397946570867|12.586936981660406|2179.947071452777|421.4994515798648| 1147.852959159527|384.5208408559016|1.9081565183791036|115983.76438720895|
|    min|            -124.35|             32.54|               1.0|              2.0|              1.0|               3.0|              1.0|            0.4999|           14999.0|
|    max|            -114.31|             41.95|              52.0|          37937.0|           6445.0|           35682.0|           6082.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+

In [31]:
df.describe('longitude').show()

+-------+-------------------+
|summary|          longitude|
+-------+-------------------+
|  count|              17000|
|   mean|-119.56210823529375|
| stddev| 2.0051664084260357|
|    min|            -124.35|
|    max|            -114.31|
+-------+-------------------+

In [32]:
df.describe(['longitude', 'latitude']).show()

+-------+-------------------+------------------+
|summary|          longitude|          latitude|
+-------+-------------------+------------------+
|  count|              17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827|
| stddev| 2.0051664084260357|2.1373397946570867|
|    min|            -124.35|             32.54|
|    max|            -114.31|             41.95|
+-------+-------------------+------------------+

## Select Data

In [33]:
df.select("*").show(2)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 2 rows

In [34]:
df.select("longitude", "latitude").show(2)

+---------+--------+
|longitude|latitude|
+---------+--------+
|  -114.31|   34.19|
|  -114.47|    34.4|
+---------+--------+
only showing top 2 rows

## Filter Data

In [35]:
df.where("housing_median_age = 15" and "total_bedrooms = 129.0").show(2)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.98|   33.82|              15.0|      644.0|         129.0|     137.0|      52.0|       3.2097|           71300.0|
|   -118.1|   33.94|              33.0|      639.0|         129.0|     460.0|     118.0|       3.1607|          189000.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 2 rows

In [36]:
df.where(("housing_median_age == 15") and ("total_bedrooms <> 129.0")).show(2)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 2 rows

In [37]:
df.where((df.housing_median_age == 15) & (df.total_bedrooms != 129.0)).show(2)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 2 rows

In [38]:
df.filter((df.housing_median_age == 15) & (df.total_bedrooms != 129.0)).show(2)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 2 rows

## Sort & Order BY

In [60]:
df.orderBy(df.households, ascending=True).show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|   -122.5|   37.79|              52.0|        8.0|           1.0|      13.0|       1.0|      15.0001|          500001.0|
|  -117.79|   35.21|               4.0|        2.0|           2.0|       6.0|       2.0|        2.375|          137500.0|
|  -119.54|   36.51|              36.0|       49.0|           7.0|      28.0|       2.0|        4.625|          162500.0|
|  -122.37|    37.6|              26.0|       15.0|           3.0|      11.0|       3.0|        5.048|          350000.0|
|  -116.76|   34.14|               4.0|       42.0|          10.0|       9.0|       3.0|        0.536|           42500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

In [62]:
df.sort(df.households).show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|   -122.5|   37.79|              52.0|        8.0|           1.0|      13.0|       1.0|      15.0001|          500001.0|
|  -117.79|   35.21|               4.0|        2.0|           2.0|       6.0|       2.0|        2.375|          137500.0|
|  -119.54|   36.51|              36.0|       49.0|           7.0|      28.0|       2.0|        4.625|          162500.0|
|  -122.37|    37.6|              26.0|       15.0|           3.0|      11.0|       3.0|        5.048|          350000.0|
|  -116.76|   34.14|               4.0|       42.0|          10.0|       9.0|       3.0|        0.536|           42500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

In [65]:
df.sort((df.households).desc()).show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -121.79|   36.64|              11.0|    32627.0|        6445.0|   28566.0|    6082.0|       2.3087|          118800.0|
|  -117.74|   33.89|               4.0|    37937.0|        5471.0|   16122.0|    5189.0|       7.4947|          366300.0|
|  -117.78|   34.03|               8.0|    32054.0|        5290.0|   15507.0|    5050.0|       6.0191|          253900.0|
|  -117.42|   33.35|              14.0|    25135.0|        4819.0|   35682.0|    4769.0|       2.5729|          134400.0|
|  -117.34|   33.98|              10.0|    17286.0|        4952.0|    9851.0|    4616.0|       1.7579|          103400.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

## Aggregate & Group by

In [39]:
df.agg({"median_house_value":"avg",
        "median_income":"avg",
        "population":"max",
        "population":"min"
        }).show()

+------------------+-----------------------+---------------+
|avg(median_income)|avg(median_house_value)|min(population)|
+------------------+-----------------------+---------------+
| 3.883578100000021|     207300.91235294117|            3.0|
+------------------+-----------------------+---------------+

In [40]:
df.filter(df.housing_median_age == 15).agg({"median_house_value":"avg",
                                            "median_income":"avg",
                                            "population":"max",
                                            "population":"min"
                                            }).show()

+------------------+-----------------------+---------------+
|avg(median_income)|avg(median_house_value)|min(population)|
+------------------+-----------------------+---------------+
| 4.003952644230772|     181031.02403846153|           51.0|
+------------------+-----------------------+---------------+

In [41]:
df.where((df.housing_median_age == 15) & (df.total_bedrooms == 129.0)).agg({"median_house_value":"avg",
                                            "median_income":"avg",
                                            "population":"max",
                                            "population":"min"
                                            }).show()

+------------------+-----------------------+---------------+
|avg(median_income)|avg(median_house_value)|min(population)|
+------------------+-----------------------+---------------+
|            3.2097|                71300.0|          137.0|
+------------------+-----------------------+---------------+

In [42]:
(df.groupBy("housing_median_age")
    .agg({"total_rooms" : 'sum',"*" : 'count'})
    .orderBy("housing_median_age", ascending= True)).limit(2).show()

+------------------+----------------+--------+
|housing_median_age|sum(total_rooms)|count(1)|
+------------------+----------------+--------+
|               1.0|          4316.0|       2|
|               2.0|        256618.0|      49|
+------------------+----------------+--------+

In [43]:
(df.filter(df.housing_median_age == 15)
    .groupBy("housing_median_age")
    .agg({"total_rooms" : 'sum',"*" : 'count'})
    .orderBy("housing_median_age", ascending= True)).limit(2).show()

+------------------+----------------+--------+
|housing_median_age|sum(total_rooms)|count(1)|
+------------------+----------------+--------+
|              15.0|       1365860.0|     416|
+------------------+----------------+--------+

## UDF - Not Working - Do More RND

In [44]:
'''
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf

def roundup(x):
  return int(x)

roundup_udf = udf(roundup, IntegerType)

df.select(roundup_udf("median_income"))
'''

'\nfrom pyspark.sql.types import IntegerType\nfrom pyspark.sql.functions import udf\n\ndef roundup(x):\n  return int(x)\n\nroundup_udf = udf(roundup, IntegerType)\n\ndf.select(roundup_udf("median_income"))\n'

# Spark SQL - Do More RND

## Createing SQL Table

In [45]:
df.createOrReplaceTempView('df_sql')

In [46]:
df.registerTempTable('df_sql2')

## Transformation

In [47]:
spark.sql('select * from df_sql').show(2)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 2 rows

In [73]:
spark.sql('select distinct(total_bedrooms) from df_sql').show(5)

+--------------+
|total_bedrooms|
+--------------+
|         496.0|
|         692.0|
|         596.0|
|        1051.0|
|         558.0|
+--------------+
only showing top 5 rows

# Working

In [48]:
df.limit(2).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+

In [49]:
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)